# dhsezannlim.github.io
body {
   background-image: url("https://78.media.tumblr.com/b030cdcb72080c7c1a51b416bbed8c64/tumblr_oiziceeYUA1ua6ypzo1_1280.jpg");
   background-color: #cccccc;
}

h1{
   font-family:turquoise;
   colour:green;
}

